h1 {
  color: #cc9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  color: #663;
  font-family: Cochin, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-size: large;
}

p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

hr{
  height: 3px;
  background-color: #903;
  border: none;
}